<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Enable URL Rewrite -->
        <rewrite>
            <rules>
                <!-- Handle CORS preflight OPTIONS requests -->
                <rule name="Handle OPTIONS" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="OPTIONS" ignoreCase="true" />
                    </conditions>
                    <action type="CustomResponse" statusCode="200" statusReason="OK" statusDescription="CORS Preflight" />
                </rule>
                
                <!-- Rewrite all requests to index.php -->
                <rule name="API Routes" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>

        <!-- Set default documents -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>

        <!-- CORS Headers -->
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, Accept" />
                <add name="Access-Control-Max-Age" value="86400" />
            </customHeaders>
        </httpProtocol>

        <!-- Handle PHP files -->
        <handlers>
            <remove name="PHP_via_FastCGI" />
            <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" 
                 scriptProcessor="C:\php\php-cgi.exe" resourceType="Either" />
        </handlers>

        <!-- Set MIME types -->
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>

        <!-- Error handling -->
        <httpErrors>
            <remove statusCode="404" />
            <error statusCode="404" responseMode="ExecuteURL" path="/mykids/api/index.php" />
        </httpErrors>
    </system.webServer>
</configuration>